<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>week5_lab</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>UserServlet</servlet-name>
  	<servlet-class>webapp.testing.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserServlet</servlet-name>
  	<url-pattern>/UserServlet/edit</url-pattern>
  	<url-pattern>/UserServlet/update</url-pattern>
  	<url-pattern>/UserServlet/list</url-pattern>
  	<url-pattern>/UserServlet/delete</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>webapp.testing.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet/home</url-pattern>
  	<url-pattern>/LoginServlet/forgot</url-pattern>
  	<url-pattern>/LoginServlet/reset</url-pattern>
  	<url-pattern>/LoginServlet/login</url-pattern>
  	<url-pattern>/LoginServlet/secret</url-pattern>
  	<url-pattern>/LoginServlet/password</url-pattern>
  </servlet-mapping>
  
  <session-config>
  	<session-timeout>
  	30
  	</session-timeout>
  </session-config>
</web-app>